* {
	margin: 0;
	padding: 0;
}

html,
a,
em {
	color: #fff;
}

html {
	background: #333;
	font: 300 100%/1.6875 'helvetica neue', helvetica, sans-serif;
	margin: 3em 1em 2em;
	text-align: center;
}

body {
	margin: auto;
	max-width: 555px;
}

p {
	margin-block: 1em;
}

p:has(img) {
	color: #bbb;
}

h1 + p {
	margin-block: 2em;
}

h1,
strong {
	font-family: futurastd-book, futura, 'helvetica neue', helvetica, sans-serif;
	font-size: 4em;
	line-height: 1.125;
}

h1 {
	font-weight: 300;
}

img {
	border: 0;
	filter: grayscale(1);
	margin-bottom: -.3em;
	width: 22px;
}

strong {
	color: #d00;
	font-weight: 500;
	text-shadow: 0 0 10px #f00;
}

strong:hover {
	cursor: wait;
}

em {
	font-style: normal;
}

@media screen and (max-width: 640px) {

	h1,
	strong {
		font-size: 2em;
		line-height: 1.3125;
	}

}

@media print {

	* {
		background: #fff;
		color: #000 !important;
		text-decoration: none;
	}

	strong {
		text-shadow: none;
	}

}